<%- include("./Admin_Header") %>

    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">Add Extracategory </h2>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row gx-5">
                    <div class="col-lg-9">
                        <section class="content-body p-xl-4">
                            <form action="/admin/extracategory/insert_extracategory" method="post">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="d-flex align-items-center mb-3">
                                            <label class="form-label col-lg-4">Select category</label>
                                            <select class="form-select" name="categoryId">
                                                <option>-- Select Category --</option>
                                                <% catData.map((v,i)=>{ %>
                                                    <option value="<%= v.id %>">
                                                        <%= v.category_name %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                        <div class="d-flex align-items-center mb-3">
                                            <label class="form-label col-lg-4">Select Subcategory</label>
                                            <select class="form-select" name="subcategoryId">
                                                <option>-- Select Subcategory --</option>
                                                <% subcatData.map((v,i)=>{ %>
                                                    <option value="<%= v.id %>">
                                                        <%= v.subcategory_name %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                        <div class="d-flex gx-4 align-items-center">
                                            <label class="form-label col-lg-4">Add Extracategory</label>
                                            <input type="text" placeholder="extracategory name" class="form-control"
                                                name="extracategory_name">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <button class="btn btn-primary" type="submit">Add Extracategory</button>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("./Admin_Footer.ejs") %>