<%- include("./Admin_Header") %>

    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Products </h2>
                <p>Add, edit or delete a Product</p>
            </div>
            <div>
                <form>
                    <div class="d-flex align-items-center">
                        <input type="text" placeholder="Search Products" class="form-control bg-white" name="search"
                            value="<%= searchValue %>">
                        <button type="submit" class="btn btn-md m-2 rounded font-sm hover-up"
                            value="search">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-start">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div>
                                        </th>
                                        <th class="text-center">Product Name</th>
                                        <th class="text-center">Product</th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Old Price</th>
                                        <th class="text-center">Colour</th>
                                        <th class="text-center">Size</th>
                                        <th class="text-center">Subcategory</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(productData !="" ){ %>
                                        <% for(var pd of productData ){ %>
                                            <tr class="">
                                                <td class="text-start">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" />
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <img src="<%= pd.product_image %>" class="img-sm img-thumbnail"
                                                        alt="Product">
                                                </td>
                                                <td class="text-center">
                                                    <%= pd.product_name %>
                                                </td>
                                                <td class="text-center"><span>$</span>
                                                    <%= pd.product_price %>
                                                </td>
                                                <td class="text-center"><span>$</span>
                                                    <%= pd.old_price %>
                                                </td>
                                                <td class="text-center">
                                                    <%= pd.product_color %>
                                                </td>
                                                <td class="text-center">
                                                    <%= pd.product_size %>
                                                </td>
                                                <td class="text-center">
                                                    <%= pd.subcategoryId.subcategory_name %>
                                                </td>
                                                <td class="text-center">
                                                    <%if(pd.isActive){%>
                                                        <a href="/admin/product/isActive/<%=pd.id%>"
                                                            class="badge rounded-pill alert-success">Active</a>
                                                        <% }else{ %>
                                                            <a href="/admin/product/deActive/<%=pd.id%>"
                                                                class="badge rounded-pill alert-danger">Inactive</a>
                                                            <% }%>
                                                </td>
                                                <td class="text-center">
                                                    <div class="dropdown">
                                                        <a class="dropdown-item text-secondary border rounded"
                                                            href="/admin/product/updateproduct/<%= pd.id %>"><i
                                                                class="material-icons md-edit"></i>Update</a>
                                                    </div>
                                                    <div class="dropdown">
                                                        <a class="dropdown-item text-danger border rounded"
                                                            href="/admin/product/deleteproduct/<%= pd.id %>"><i
                                                                class="material-icons md-delete_forever"></i>Delete</a>
                                                    </div>
                                                </td>

                                                <% }%>
                                                    <% }else{ %>
                                                        <td class="text-center" colspan="9">
                                                            <p class="text-center text-danger">No Record Found</p>
                                                        </td>
                                                        <% } %>
                                            </tr>
                                </tbody>
                            </table>
                            <% if(currentPage> 0){ %>
                                <a href="?pages=<%= currentPage - 1 %>&search=<%= searchValue %>"
                                    class="btn btn-primary" style="padding: 10px 16px;">
                                    Previous</a>
                                <% } %>
                                    <% if(currentPage> 0){ %>
                                        <a href="?pages=<%= currentPage - 1 %>&search=<%= searchValue %>"
                                            class="btn border" style="padding: 10px 16px;">
                                            <%= currentPage %>
                                        </a>
                                        <% } %>
                                            <a href="?pages=<%= currentPage %>&search=<%= searchValue %>"
                                                class="btn btn-primary" style="padding: 10px 16px;">
                                                <%= currentPage + 1 %>
                                            </a>
                                            <% if(totalDocument> currentPage + 1){ %>
                                                <a href="?pages=<%= currentPage + 1 %>&search=<%= searchValue %>"
                                                    class="btn border" style="padding: 10px 16px;">
                                                    <%= currentPage + 2 %>
                                                </a>
                                                <% } %>
                                                    <% if(totalDocument> currentPage + 1){ %>
                                                        <a href="?pages=<%= currentPage + 1 %>&search=<%= searchValue %>"
                                                            class="btn btn-primary" style="padding: 10px 16px;">Next</a>
                                                        <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("./Admin_Footer.ejs") %>